* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 8px;
    margin-right: 8px;
}

button {
    width: 75px;
    height: 40px;
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 7px;
}

img {
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.hero-wrapper,
.footer-wrapper {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px;
}

.hero-wrapper {
    padding-bottom: 100px;
}

.quote-wrapper {
    background-color: #e5e7eb;
}

.action-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.info-wrapper,
.quote-wrapper {
    padding-top: 50px;
    padding-bottom: 100px;
}

.footer-wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    margin-right: auto;
}

.header .links {
    margin-left: auto;
}

.title-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.large-font {
    font-size: large;
    font-weight: 700;
}

#offer {
    margin: auto;
}

.title-section p {
    max-width: 600px;
    font-size: 18px;
}

.title-section .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
}

.info-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    max-width: 200px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.small-image {
    width: 125px;
    height: 125px;
    /* border-color: 2px solid #3882f6; */
}

#coffee_main {
    width: 320px;
    height: 214px;
}

.quote {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 400;
}

.action {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
}

.header,
.title-section,
.info,
.quote,
.action,
.footer {
    margin-left: 200px;
    margin-right: 200px;
}