* {
    border: 2px solid black;
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 8px;
    margin-right: 8px;
}

button {
    width: 75px;
    height: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo {
    margin-right: auto;
}

.header .links {
    margin-left: auto;
}

.title-section {
    display: flex;
}

.title-section .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.small-image {
    width: 125px;
    height: 125px;
}

#coffee_main {
    width: 85%;
    height: 85%;
}